@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


.firstfooter {
    background-color: blue;
    color: rgb(251, 253, 255);
    height: 45px;
    width: auto;
    display: flex;
    /* justify-content: space-around; */
}

.requestcall {
    background-color: white;
    height: 30px;
    width: 100px;
    color: black;
    margin-left: 980px;
    margin-top: 15px;
}

#logo {
    margin-left: 110px;
}

.logo img {

    color: rgb(247, 247, 247);

    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-top: 9px;
}

#secondfooter {
    background-color: rgb(255, 196, 0);
    color: rgb(255, 255, 255);
    height: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;

}

.secondfooter {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.secondfooter a {
    margin-left: 36px;
}

.digicommerce img {
    height: 75px;
    width: 200px;
    align-items: center;
    border-radius: 15px;
}

.digi {
    margin-top: 5px;
    margin-right: 50px;
}

input {
    border-style: ridge;
}

.form-select {

    border-style: none;
}








/* //////////////////////////////////////// */

#homemain {
    background-color: rgb(255, 220, 25);
    height: 550px;
    display: flex;
}

.contentmain {
    /* background-color: blue; */
    height: 500px;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.contentmain h1 {
    margin-left: 100px;
    margin-top: 80px;
}

.contentmain p {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 20px;
}

.loginmain {
    /* background-color: blueviolet; */
    height: 500px;
    width: 650px;
    display: flex;
    justify-content: center;
    background-size: cover;

}

.login {
    background-color: rgb(255, 255, 255);
    /* border-style: solid; */
    height: 350px;
    width: 850px;
    margin-top: 100px;
    box-shadow: 700px;
    border-radius: 15px;
    display: flex;
    justify-content: center;

}

#fullname {
    width: 550px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

#email {
    width: 550px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

textarea {
    width: 550px;
    height: 50px;
    margin-top: 15px;
    /* border-radius: 10px; */
}

.phone91 {
    width: 60px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

.phoneno {
    width: 490px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

.sendbutton {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 170px;
}



.btn {
    background-color: rgb(255, 196, 0);
    height: 200px;
    width: 60px;
    margin-top: 200px;
    border-style: solid;
    border-radius: 10px;
    position: fixed;
    /* transform: translateX(00px); */
    margin-left: 1378px;

}



.enquari {
    /* background-color: rgb(255, 127, 133); */
    /* height:5px ; */
    /* width: 130px;  */

    /* background-size: cover; */
    /* font-weight: 1000; */
    margin-top: 95px;
    background-size: cover;
    transform: rotate(270deg);
}



.hrl {
    margin-top: 30px;
    /* color: blueviolet; */
}

















/* -------------------------------------- */

#services {
    /* height: 500px; */
    /* background-color: black; */
    background-size: cover;
}

.box {
    height: 450pxpx;
    display: flex;
    background-size: cover;
    /* background-color: rgb(5, 151, 177); */


}

.dox1 {
    /* background-color: blueviolet; */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.dox1 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}

.dox2 {
    /* background-color: blueviolet; */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;

}

.dox2 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;

}

.dox3 {
    /* background-color: blueviolet; */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.dox3 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;

}


.boxs {
    height: 450pxpx;
    display: flex;
    background-size: cover;

    /* background-color: rgb(177, 137, 5); */
}

.dox4 {
    /* background-color: rgb(214, 226, 43); */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.dox4 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;

}

.dox5 {

    /* background-color: rgb(43, 101, 226); */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.dox5 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;

}

.dox6 {

    /* background-color: rgb(214, 226, 43); */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.dox6 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;

}


.dox7 {

    /* background-color: rgb(214, 226, 43); */
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 450px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
    align-self: center;
    transform: translateX(480px);
}

.dox7 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;

}





/* /////////////////////////////////////////// */

#homemains {
    background-color: rgb(25, 190, 255);
    height: 490px;
    width: 1220px;
    border-radius: 10px;
    display: flex;
    transform: translate(150px);
}

.contentmains {
    /* background-color: blue; */
    height: 500px;
    width: 800px;
    align-items: center;
    justify-content: center;
}

.contentmains h1 {
    margin-left: 100px;
    margin-top: 80px;
}

.contentmains p {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 20px;
}

.loginmains {
    /* background-color: blueviolet; */
    height: 500px;
    width: 650px;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.logins {
    background-color: rgb(255, 255, 255);
    /* border-style: solid; */
    height: 350px;
    width: 880px;
    margin-top: 100px;
    box-shadow: 700px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    transform: translateX(-20px);

}

#fullnames {
    width: 550px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

#emails {
    width: 550px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

textarea {
    width: 550px;
    height: 50px;
    margin-top: 15px;
    /* border-radius: 10px; */
}

.phone91s {
    width: 60px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

.phonenos {
    width: 490px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

.sendbuttons {
    width: 360px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 180px;
}



.btns {
    background-color: rgb(255, 196, 0);
    height: 200px;
    width: 60px;
    margin-top: 200px;
    border-style: solid;
    border-radius: 10px;

}

.contentmains {
    background-size: cover;
}


.enquaris {
    /* background-color: rgb(255, 127, 133); */
    /* height:5px ; */
    /* width: 130px;  */

    /* background-size: cover; */
    /* font-weight: 1000; */
    margin-top: 50px;
    background-size: cover;
    transform: rotate(90deg);
}



.hrl {
    margin-top: 30px;
    /* color: blueviolet; */
}



/* /////////////////////////////////////////////////////////// */

#otherservice {
    background-color: aquamarine;
    background-size: cover;
    align-items: center;
    text-align: center
}

#otherservice h1 {
    /* transform: translateX(500px);
     */
    text-align: center;



}

.otherservice {
    height: 450pxpx;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.otherservice div {
    background-color: blueviolet;
    margin: 10px;
    width: 410px;

    height: 390px;
}




.box1 {
    background-color: blueviolet;
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.box1 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}



.box2 {
    background-color: blueviolet;
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.box2 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}




.box3 {
    background-color: blueviolet;
    background-size: cover;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.box3 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}





/* .......................................... */



#otherservices {
    height: 450px;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.otherservices {
    display: flex;
    justify-content: center;
    background-size: cover;
}

.otherservices div {
    /* background-color: rgb(226, 43, 134) */
    margin: 10px;
    width: 410px;
    height: 380px;
}




.box4 {
    background-color: blueviolet;
    background-size: cover;
    text-align: center;
    /* height: 400px;
    width: 500px; */
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.box4 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}

.box5 {
    background-color: blueviolet;
    background-size: cover;
    text-align: center;
    /* height: 400px;
    width: 500px; */
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.box5 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}


.box6 {
    background-color: blueviolet;
    background-size: cover;
    text-align: center;
    /* height: 400px;
    width: 500px; */
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
}

.box6 button {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: rgb(107, 96, 96);
    color: wheat;
    border-radius: 7px;
    border-style: solid;


}




.Full-Seller-Account-Management-Services {
    background-size: cover;
    text-align: center;
}

.Unlock-Ecommerce-Success-with-Digicommerce {
    background-size: cover;
    text-align: center;
}





/* Let-Talk-Numbers               ,,,,,,,,,,,,,,,,,,,,, */



#Let-Talk-Numbers {
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
    background-size: cover;

}

.talk-no-paragraph {
    text-align: center;
    width: 700px;
    margin-left: 400px;
}


.Experiencebox {
    display: flex;
    justify-content: center;
    background-size: cover;
}

.Experiencebox div {
    height: 150px;
    width: 300px;
    border-style: solid;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

}



#Disclaimer {
    background-color: #ff6600;
    text-align: center;

}


#Disclaimer div {
    width: 700px;
    background-size: cover;
    text-align: center;
    margin-left: 400px;

}

.Experiencebox p {
    /* text-align: center; */
    margin-top: 40px;
}



#Domestic {
    color: aliceblue;
    background-color: rgb(2, 2, 2);


}

.Domestic {
    /* border-style: solid; */
    width: 1250px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
}

#Domestic h1 {
    margin-left: 125px;
}

.Domestic li {
    margin-top: 5px;
}

.Domestic div {
    width: 450px;
    height: 200px;
    margin: 15px;
    /* border-style: solid; */
}

.social-media-contact {
    background-color: aqua;
}

.Domestics {
    /* border-style: solid; */
    width: 1250px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
}

/* #Domestic h1{
    margin-left: 125px;
} */

.Domestics li {
    margin-top: 5px;
}

.Domestics div {
    width: 450px;
    height: 200px;
    margin: 15px;
    /* border-style: solid; */
}


.media-button {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin: 0px 8px;
    background-color: rgb(150, 150, 255);
    text-decoration: none;
    /* border-style: solid;
    border-right: slategray; */

}

#link1 {
    background-color: rgb(2, 2, 105);
}

#link3 {
    background-color: rgb(255, 76, 130);
}

#link2 {
    background-color: rgb(70, 70, 252);
}

#link4 {
    background-color: rgb(255, 0, 0);
}

#link5 {
    background-color: rgb(104, 67, 253);
}